@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);

@font-face {
    font-family: Cabin-Regular;
    src: url(/assets/resources/fonts/Cabin-Regular.otf); /*ye n IE5-8 */
    src: local(Cabin-Regular), url(/assets/resources/fonts/Cabin-Regular.otf);
}

@font-face {
    font-family: Cabin-Bold;
    src: url(/assets/resources/fonts/Cabin-Bold.otf); /*ye n IE5-8 */
    src: local(Cabin-Bold), url(/assets/resources/fonts/Cabin-Bold.otf);
}

@font-face {
    font-family: Cabin-Italic;
    src: url(/assets/resources/fonts/Cabin-Italic.otf); /*ye n IE5-8 */
    src: local(Cabin-Italic), url(/assets/resources/fonts/Cabin-Italic.otf);
}

@font-face {
    font-family: Cabin-BoldItalic;
    src: url(/assets/resources/fonts/Cabin-BoldItalic.otf); /*ye n IE5-8 */
    src: local(Cabin-BoldItalic), url(/assets/resources/fonts/Cabin-BoldItalic.otf);
}




html,body {
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    overflow-x: hidden; 
}

body {
    font-size:16px;
    margin:0px;
    font-family: Cabin-Regular, Helvetica, sans-serif;
    background-color:rgba(224, 224, 224, 0.45);
}

body p {
    letter-spacing: 0.7px!important;
}


/*HELPER*/
.position-relative {
    position: relative;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*NAVBAR*/
.navbar-container {
    z-index: 2000;
    position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}

.navbar-p {
    font-family: Cabin-Regular, sans-serif ;
    text-transform: uppercase;
}

.navbar-p a {
    color: #989898;
    text-decoration: none;
}

.box {
    display:inline-block;
    margin-right:5%;
}

.nav-flex {
    float:right;
    text-align:right;
    padding-top:9px;
}



/*HOMEPAGE*/
.block-container {
    padding-bottom: 70px;
}

.landing-container {
    background-color: #2980B8;
}

.homepage-hero {
/*    min-height: 110vh;
    max-height: 120vh;*/
    padding-top: 63px;
/*    min-height: 110vh;
    max-height: 120vh;*/
}

.homepage-title {
    color: white;
    font-family: Cabin-Bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px!important;
    font-size: 1.4em;
    margin-top: 60px;
}

.homepage-subtitle {
    color: #C3C1C1;
    font-size: 1.5em;
    text-align: center;
}

.line-break-container {
    text-align: center;
    margin: auto auto;
}

.line-break {
    border-bottom: 1px solid rgba(177, 174, 174, 0.45);
    width: 20%;
    margin: auto;
}

.why-exist-container {
    text-align: center;
    margin-top: 20px;
}

.why-exist-arrow {
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 200ms linear;
    color: #C3C1C1;
}

#why-exist-span {
    cursor:pointer;
    color:white;
}

.why-exist-panel {
    width: 70%;
    margin: auto;
    max-height:0px;
    overflow:hidden;
    opacity: 0;
    padding-bottom: 0px;
    -webkit-transition: max-height  300ms linear, opacity 500ms linear, padding-bottom 500ms linear;
    -moz-transition: max-height  300ms linear, opacity 500ms linear, padding-bottom 500ms linear;
    -o-transition: max-height  300ms linear, opacity 500ms linear, padding-bottom 500ms linear;
    -ms-transition: max-height  300ms linear, opacity 500ms linear, padding-bottom 500ms linear;
    transition: max-height  300ms linear, opacity 500ms linear, padding-bottom 500ms linear;
    color: white;
}

.panel-show {
    max-height: 250px;
    display: block;
    opacity: 1;
    padding-bottom: 50px;
    /*margin-bottom: 50px;*/

}

.rotate-arrow {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 200ms linear;
}

.blue-background {
    height: 195px;
    position: absolute;
    background-color: #2980B8;
    width: 100%;
    z-index: -1;
}

.homepage-posts-container {
    background-color: rgba(224, 224, 224, 0);
    text-align: center;
    margin-bottom: 50px;
    overflow-x:hidden;
}

.isotope-wrapper {
    position: absolute;
    width: 100%;
}

.post-wrapper {
    width: 30%;
    border: 1px solid rgba(123, 122, 122, 0.45);
    display: inline-block;
    margin-bottom: 20px;
    height: 598px;
    background-color: white;
    overflow-y:hidden;
}

.post-wrapper-homepage {
    margin-right: 6.5px;
    margin-left: 6.5px;
}

.hp-post-image {
    background-image: url('/assets/media/greg-headshot-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 194px;
}

.hp-post-img {
    height: 194px;
}

.hp-post-text-wrapper {
    padding: 5%;
    text-align: left;
    background-color: white;
}

.hp-post-title {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 69px;
    max-height: 69px;
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.hp-post-date {
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
    color: #2980B8;
}

.hp-post-tags {
    /*display: inline-block;*/
    margin-top:0px;
    font-style: italic;
    min-height: 38px;
}

.hp-post-start-text {
}

.hp-post-button {
    width: 32%;
    margin: auto;
    padding: 12px;
    text-align: center;
    background-color: #2980B8;
    margin-top: 30px;
    color: white;
}

.hp-post-button:hover {
    opacity: 0.5;
}

.browse-all-button {
    width: 20%;
    margin: auto;
    padding: 12px;
    text-align: center;
    background-color: #36B736;
    margin-top: 30px;
    color: white;
}

.browse-all-button:hover {
    opacity: 0.6;
}

.homepage-circles-container {
    padding:0px 5%;
    text-align:center;
    margin-top:30px;
}

.circle-wrapper {
    margin: 0px -1%;
    text-align: center;
}

.homepage-circle-img {
    max-width: 100%;
    border-radius: 500px;
    width: 42%;
    margin: auto;
}

.slick-dots {
    position: initial!important;
}

.contributors-title {
    color: black;
    font-family: Cabin-Bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px!important;
    font-size: 1.8em;
    margin-top: 70px;
    margin-bottom: 60px;
}

/*subpage*/
.subpage-title {
    color: white;
    font-family: Cabin-Bold;
    text-align: center;
    letter-spacing: 3px!important;
    font-size: 1.2em;
    margin-top: 60px;
}

.subpage-title h1 {
    margin-top: 0px;
}

/*All posts*/

.landing-container-all-posts {
    padding-bottom: 30px;
}

.filter-accordion {
    display: none;
}

.filter-accordion p {
    display:inline-block;
    color: white;
    cursor: pointer;
}

.filter-arrow {
    display: inline-block;
    font-size: 1em;
    color: white;
    cursor: pointer;
    transition: all 200ms linear;
}

.filter-container {
    width: 50%;
    margin: auto;
    /*border: 1px solid gray;*/
    padding: 1% 2%;
    background-color: rgba(0, 0, 0, 0.37);
    margin-top: 20px;
    /*margin-bottom: 30px;*/
}

.filter-container-hidden {

}

.filter-container-show {
    max-height: 364px;
    display: block;
    opacity: 1;
    -webkit-transition: max-height  300ms linear, opacity 500ms linear;
    -moz-transition: max-height  300ms linear, opacity 500ms linear;
    -o-transition: max-height  300ms linear, opacity 500ms linear;
    -ms-transition: max-height  300ms linear, opacity 500ms linear;
    transition: max-height  300ms linear, opacity 500ms linear;
}

.filter-categories-wrapper {
    width: 40%;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.filter-interview-wrapper {
    width: 50%;
    display: inline-block;
    float:right;
    /*padding-left: 10%;*/
    text-align: center;
}

.filter-container h3 {
    color: white;
    margin-top: 0px;
    display: block;;
}

.filter-ul {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    
}

.filter-li {
    width: 45%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 20px;
    color: white;
    display: inline-block;
}

.filter-li, .filter-interview-li {
    padding: 4px;
    background-color: #6D6B6B;
    border-radius: 13px;
    text-align: center;
    width: 84px;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}



.is-checked {
    opacity: 1;
    background-color: #36B736;
}

.filter-interview-ul {
    display: inline-block;
    height: 117px;
    padding-left: 0px;
}

.filter-interview-li {
    display: block;
    margin: auto;
    width: 84px;
    margin-bottom: 20px;
    color: white;
}

/*footer*/
.footer-container {
    padding-top: 30px;
}

.footer-ul ul {
    text-align: center;
    padding: 0px;
}

.footer-ul ul li {
    display: inline-block;
    margin: 0px 2%;
    color: gray;
    opacity: 0.9;
}

.footer-ul ul li:hover {
    color: black;
    cursor: pointer;
}

.copyright {
    text-align: center;
    color: gray;
    opacity: 0.7;
    margin-top: 12px;
}




/*MEDIA QUERIES*/
/*allposts when the tags spill onto their own line*/
@media screen and (min-width: 768px) and (max-width: 854px) {
    .post-wrapper {
        height: 619px;
    }

    .hp-post-button {
        width: 40%;
    }
}

/*where 3 across becomes 1 */
@media screen and (max-width: 1023px){
    .post-wrapper {
        width: 40%;
    }

    .filter-container-hidden {
        max-height:0px;
        overflow:hidden;
        opacity: 0;
        /*padding-bottom: 0px;*/
        -webkit-transition: max-height  300ms linear, opacity 500ms linear;
        -moz-transition: max-height  300ms linear, opacity 500ms linear;
        -o-transition: max-height  300ms linear, opacity 500ms linear;
        -ms-transition: max-height  300ms linear, opacity 500ms linear;
        transition: max-height  300ms linear, opacity 500ms linear;
    }

    .filter-accordion {
        display: block;
        text-align: center;
    }

    .filter-container {
        width: 80%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/*LESS THAN MD = 768px */
@media screen  and (max-width: 767px) {
    .post-wrapper {
        width: 90%;
        height: 588px;
    }

    .post-wrapper-homepage:nth-child(n+5){
        display: none;
    }

    .post-wrapper-homepage {
        height: 590px!important;
    }

    .browse-all-button {
        width: 40%;
    }

    .filter-container {
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .filter-categories-wrapper {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .filter-interview-wrapper {
        width: 100%;
    }

    .filter-interview-li {
        display: inline-block;
        margin-left: 2%;
        margin-right: 2%;
    }

    .blue-background {
        height: 196px;
        margin-top: -1px;
    }

}

/*MORE THAN MD = 768px */
@media screen  and (min-width: 768px) {

}

/*Navbar hamburger*/
@media screen and (max-width: 1058px) {
    .box {
        display: block;
        border-bottom: 1px solid rgba(128, 128, 128, 0.38);
        text-align: left;
    }

    .box:nth-child(1) {
        margin-top: 70px;
    }

    .nav-flex {
        float: right;
        width: 100%!important;
        text-align: right;
        padding-right: 62px;
    }

    .nav-toggle {
        color: #989898;
        font-size: 1.5em;
    }

    .nav-logo {
        width: 50%;
        position: absolute;
    }

    .nav-collapse-0 {
        width: 100%;
        padding-left: 68px;
    }

    .navbar-container {
        min-height: 66px;
    }

    .homepage-title h1 {
        font-size: 1.5em;
    }


}
